{% extends "adminbase.html" %}
{% block body %}
 <h4 style="text-align:center; color:blue;">
    Booking of Agro products
 </h4>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form action="{% url 'adminapp:pbook' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{fi.name}}" class="form-control" readonly="true"/>
            </div>
            <div class="form-group">
                <label>Address</label>
                <textarea name="address" class="form-control" readonly="true">{{fi.address}}</textarea>
            </div>
            <div class="form-group">
                <label>Contact No</label>
                <input type="number" class="form-control"name="contactno"  value="{{fi.contactno}}"readonly="true"/>
            </div>
            <div class="form-group">
                <label>Aadhar No</label>
                <input type="number" name="aadharno" class="form-control"readonly="true" value="{{fi.aadharno}}"/>
            </div>
            <div class="form-group">
                <label>no. of packets</label>
                <input type="number" name="noofpacket" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label>duration in months</label>
                <input type="number" name="duration" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label>rate per packet per month</label>
                <input type="number" name="rate" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label>advance booking amount</label>
                <input type="number" name="advance" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="submit" class="btn btn-info"/>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock body %}